trigger:
- main                                      #자동화의 시작점 : GitHub의 main 브랜치에 코드가 Commit & Push될 때마다 파이프라인을 자동으로 실행

pool:
  vmImage: 'ubuntu-latest'                  # 빌드/배포를 수행할 에이전트 OS 이미지 지정

variables:
  acrServiceConnection: 'acr'               #ACR Service connection 이름 : Azure DevOps와 ACR을 연결하는 인증 통로
  dockerImageName: 'mooacr.azurecr.io/test-app' #Helm에서 사용할 이미지의 전체 경로 : AKS Pod가 이미지를 가져올 전체 주소
  azureSubscription: 'subscription'         # Azure DevOps Service connection - Azure Resource Manager 연결에 사용할 구독 이름
  azureResourceGroup: 'DEV-AKS-RG'
  kubernetesCluster: 'dev-ci-cd-aks'
  helmChartPath: 'chart'
  releaseName: 'test-app'                   # Helm release 이름
  imageTag: '$(Build.BuildId)'              # 빌드 버전 태그 : 동적 값. 빌드마다 고유한 번호가 할당되어 버전 추적 및 롤백이 가능해집니다.

steps:
- task: Docker@2
  displayName: Build and push Docker image
  inputs:
    command: buildAndPush                   # Docker 이미지 빌드 후 ACR로 Push
    repository: test-app                    #ACR 전체 경로가 아닌 ACR 내부의 리포지토리 이름만 넣어야 함*
    dockerfile: '**/Dockerfile'             # 빌드할 Dockerfile 경로 지정
    containerRegistry: $(acrServiceConnection)
    tag: $(imageTag)                        # 빌드마다 고유한 이미지 태그 지정

- task: HelmInstaller@1
  displayName: Install Helm
  inputs:
    helmVersionToInstall: '3.15.4'          # 배포에 사용할 Helm 버전 설치

- task: HelmDeploy@0
  displayName: Deploy to AKS
  inputs:
    connectionType: 'Azure Resource Manager' # Azure 구독 연결 방식
    azureSubscription: '$(azureSubscription)'
    azureResourceGroup: '$(azureResourceGroup)'
    kubernetesCluster: '$(kubernetesCluster)'
    command: 'upgrade'                       # Helm upgrade 명령어 : 존재하면 업데이트, 없으면 설치
    install: true                            # release가 없으면 새로 설치
    chartType: 'FilePath'                    # 로컬 파일 경로 기반 Helm 차트 사용
    chartPath: '$(helmChartPath)'
    releaseName: '$(releaseName)'
    overrideValues: |
      image.repository=$(dockerImageName)
      image.tag=$(imageTag) 
    arguments: '--wait' 
